// Sidebar styles
  .sidebar-container {
    transition: width 0.28s;
    width: 210px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
  
    a {
      display: inline-block;
      width: 100%;
    }
  
    .el-menu {
      border: none;
      width: 100%;
    }
  
    :deep(.el-menu-item),
    :deep(.el-submenu__title) {
      height: 56px;
      line-height: 56px;
      
      .el-icon {
        margin-right: 8px;
        font-size: 18px;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      
      .el-menu {
        width: 54px !important;
      }
      
      :deep(.el-menu-item),
      :deep(.el-submenu__title) {
        padding-left: 20px !important;
        padding-right: 0 !important;
        text-align: center;
        
        .el-icon {
          margin-right: 0;
        }
      }
      
      :deep(.el-submenu) {
        .el-menu {
          display: none !important;
        }
      }
    }
  
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
    
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        opacity: 0;
        display: inline-block;
      }
    
      &:hover {
        span {
          display: block;
          border-radius: 4px;
          z-index: 1002;
          width: 140px;
          height: 56px;
          visibility: visible;
          position: absolute;
          right: -145px;
          text-align: left;
          text-indent: 20px;
          top: 0;
          background-color: $subMenuBg !important;
          opacity: 1;
        }
      }
    }
  
    .el-submenu {
      & > .el-submenu__title {
        padding-left: 20px !important;
        padding-right: 0 !important;
        
        & > span {
          display: none;
        }
        
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    
      .nest-menu {
        .el-submenu__icon-arrow {
          display: block !important;
        }
      
        span {
          display: inline-block !important;
        }
      }
    }
}

.nest-menu .el-submenu > .el-submenu__title,
  .el-submenu .el-menu-item {
  min-width: 210px !important;
  background-color: $subMenuBg !important;
  
    &:hover {
    background-color: $menuHover !important;
    }
  }

.el-menu--collapse .el-menu .el-submenu {
  min-width: 210px !important;
}
